In [5]:
from cassandra.cluster import Cluster
class CassandraSession:
    def get_session(self):
        try:
            cluster = Cluster()
            session = cluster.connect()
            return session
        except Exception as e:
            print('Exception occured while connecting ',e)
try:
    cassandra = CassandraSession()
    session = cassandra.get_session()
    row = session.execute("select release_version from system.local").one()
    if row:
        print(row[0])
    else:
        print("An error occurred.")
except Exception as e:
    print('exception occurced ',e)

3.11.10

In [6]:
#1 Create Keyspace
try:
    query = "CREATE KEYSPACE ineuron1 WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3};"
    session.execute(query)
    print('Keyspace created.')
except Exception as e:
    print('Error occured ',e)

Keyspace created.

In [7]:
#2 Use Keyspace
try:
    query = "USE ineuron1"
    session.execute(query)
    print('Changed keypsace to ineuron1')
except Exception as e:
    print('Error occured ',e)

Changed keypsace to ineuron1

In [8]:
#3 Alter Keyspace
try:
    query = "ALTER KEYSPACE ineuron1 WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 2};"
    session.execute(query)
    print('Keyspace altered.')
except Exception as e:
    print('Error occured ',e)

Keyspace altered.

In [9]:
#4 Drop keyspace
try:
    query = "DROP KEYSPACE ineuron1"
    session.execute(query)
    print('Keyspace ineuron1 dropped.')
except Exception as e:
    print('Error occured ',e)

Keyspace ineuron1 dropped.

In [11]:
#5 Use Keyspace
try:
    query = "USE ineuron"
    session.execute(query)
    print('Keyspace changed to ineuron.')
except Exception as e:
    print('Error occured ',e)

Keyspace changed to ineuron.

In [16]:
#6 Creating Table
try:
    query = """CREATE TABLE Employee( 
               emp_id int PRIMARY KEY,
               emp_name text,
               emp_city text,
               emp_sal varint,
               emp_phone varint)
            """
    session.execute(query)
    print('Table created.')
except Exception as e:
    print('Error occured ',e)

Table created.

In [28]:
#7 Alter Table add column
try:
    query = "ALTER TABLE Employee ADD email set<text>"
    session.execute(query)
    print('Table altered.')
except Exception as e:
    print('Error occured ',e)

Table altered.

In [18]:
#8 Alter Table drop column
try:
    query = "ALTER TABLE Employee DROP email"
    session.execute(query)
    print('Table altered.')
except Exception as e:
    print('Error occured ',e)

Table altered.

In [19]:
#9 Creating index on table
try:
    query = "CREATE INDEX emp_index on Employee(emp_city)"
    session.execute(query)
    print('Index created.')
except Exception as e:
    print('Error occured ',e)

Index created.

In [20]:
#10 Insert into table
try:
    records = [(1,'Chetna','Pune',75747474,66655),(2,'Yogita','Pune',465656565,75756),
    (3,'Gul','Pune',7575757575,65656),(4,'Kavita','Pune',74747565675,545454)]
    for record in records:
        query = """ INSERT INTO employee (emp_id, emp_name, emp_city,emp_phone, emp_sal) VALUES(%s,%s,%s,%s,%s)"""
        session.execute(query,record)
        print(f'Record {record} inserted.')
except Exception as e:
    print('Error occured ',e)

Record (1, 'Chetna', 'Pune', 75747474, 66655) inserted.
Record (2, 'Yogita', 'Pune', 465656565, 75756) inserted.
Record (3, 'Gul', 'Pune', 7575757575, 65656) inserted.
Record (4, 'Kavita', 'Pune', 74747565675, 545454) inserted.

In [21]:
#11 Display records from table
try:
    query = "SELECT * FROM Employee"
    rows = session.execute(query)
    for row in rows:
        print(row)
except Exception as e:
    print('Error occured ',e)

Row(emp_id=1, emp_city='Pune', emp_name='Chetna', emp_phone=75747474, emp_sal=66655)
Row(emp_id=2, emp_city='Pune', emp_name='Yogita', emp_phone=465656565, emp_sal=75756)
Row(emp_id=4, emp_city='Pune', emp_name='Kavita', emp_phone=74747565675, emp_sal=545454)
Row(emp_id=3, emp_city='Pune', emp_name='Gul', emp_phone=7575757575, emp_sal=65656)

In [23]:
#12 Display employess whose emp_sal 50000 using ALLOW FILTERING;
try:
    query = "SELECT emp_id,emp_name,emp_city FROM Employee WHERE emp_sal >500000 ALLOW FILTERING"
    rows = session.execute(query)
    for row in rows:
        print(row)
except Exception as e:
    print('Error occured ',e)

Row(emp_id=4, emp_name='Kavita', emp_city='Pune')

In [24]:
#13 Display employee count in table
try:
    query = "SELECT count(*) as emp_count from Employee"
    rows = session.execute(query)
    for row in rows:
        print(row)
except Exception as e:
    print('Error occured ',e)

Row(emp_count=4)

In [25]:
#14 Update record from table
try:
    query = "UPDATE Employee SET emp_name='Chetna Rizwani' WHERE emp_id=1"
    session.execute(query)
    print('Record updated.')
except Exception as e:
    print('Error occured ',e)

Record updated.

In [26]:
#15 Deleting record from table
try:
    query = "DELETE FROM Employee WHERE emp_id=1"
    session.execute(query)
    print('Record deleted.')
except Exception as e:
    print('Error occured ',e)

Record deleted.

In [29]:
#16 Update table to add emails
try:
    emails = {'yogita@gmail.com','gul@gmail.com','kavita@gmail.com'}
    query = "UPDATE Employee SET email={} WHERE emp_id=1".format(emails)
    session.execute(query)
    print('Record updated.')
except Exception as e:
    print('Error occured ',e)

Record updated.

In [30]:
#17 Minimum salary
try:
    query = "SELECT MIN(emp_sal) FROM Employee;"
    rows = session.execute(query)
    for row in rows:
        print(row)
except Exception as e:
    print('Error occured ',e)

Row(system_min_emp_sal=65656)

In [32]:
#18 Sum of salary
try:
    query = "SELECT SUM(emp_sal) FROM Employee;"
    rows = session.execute(query)
    for row in rows:
        print(row)
except Exception as e:
    print('Error occured ',e)

Row(system_sum_emp_sal=686866)

In [33]:
#19 Truncate table
try:
    query = "TRUNCATE TABLE  Employee"
    session.execute(query)
    print('Table truncated.')
except Exception as e:
    print('Error occured ',e)

Table truncated.

In [34]:
#20 Drop Table
try:
    query = "DROP TABLE Employee"
    session.execute(query)
    print('Table dropped.')
except Exception as e:
    print('Error occured ',e)

Table dropped.